@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1280px !important;
    }
  }
}
